<section class="prizes" id="prizes">
  <div class="separator">
    <h2><a href="#prizes" class="scrolly-link">Prizes</a></h2>
  </div>
  <div class="content">
  	<div class="first-prize">
  		<span class="dollas">$1500</span>
  		<p class="desc">First Prize</p>
  	</div>
  	<div class="second-prize">
  		<span class="dollas">$1000</span>
  		<p class="desc">Second Prize</p>
  	</div>
  	<div class="third-prize">
  		<span class="dollas">$750</span>
  		<p class="desc">Third Prize</p>
  	</div>

  	<div class="some-space-yo"></div>

<!-- Special classes with links in their description -->
    <div class="prize">
      <p><span class="title">Best Hack for Social Good</span></p>
      <p>sponsored by <span class="sponsor"><a href="https://www.jpmorgan.com/country/US/en/jpmorgan">JPMorgan Chase</a></span></p>
      <p class="reward"> Bose SoundLink Bluetooth Speakers and <a href="https://civichall.org/community-and-membership/"> <strong>Civic Hall Membership</strong> </a> for each member of the winning team </p>
      <div class="circle"></div>
    </div>
    <div class="prize">
      <p><span class="title">Most meaningful contribution to Open Source</span></p>
      <p>sponsored by <span class="sponsor"><a href="https://www.goldmansachs.com/">Goldman Sachs</a></span></p>
      <p class="reward"> Amazon Echo for each winner of <a href="http://coffeecu.com/"> <strong>Coffee@CU</strong></a>,<a href="https://density.adicu.com/"> <strong>Density</strong></a>, or <a href="https://www.messenger.com/t/thecolumbialion/"> <strong>LionBot</strong> </a> projects</p>
      <div class="square"></div>
    </div>

  	{{#each prizes}}
  		<div class="prize">
  			<p><span class="title">{{title}}</span></p>
  			<p>sponsored by <span class="sponsor"><a href="{{sponsor-link}}">{{sponsor}}</a></span></p>
  			<p class="reward">{{prize}}</p>
  			<div class="{{lil-decoration}}"></div>
  		</div>
  	{{/each}}
	</div>
</section>
